@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto bold";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "roboto medium";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}

:root {
  --red-peace: #fb565a;
  --red-hover: #e74246;
  --red-click: #d7373b;
  --green-peace: #00ca74;
  --green-hover: #00bc6c;
  --green-click: #00aa62;
  --yellow-peace: #efc849;
  --yellow-hover: #eab534;
  --yellow-click: #e5a722;
}

*,
body {
  font-family: Arial, sans-serif;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* HEADER */

.main-header {
  padding-top: 49px;
}

.main-navigation {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.main-header-logo {
  margin-right: 0px;
}

.site-navigation-list {
  list-style: none;
  display: flex;
  text-align: center;
  align-items: center;
}

.site-navigation-item {
  list-style: none;
  margin-right: 45px;
}

.site-navigation-item:last-child {
  /* margin-right: 246px; */
}

.site-navigation-item a {
  list-style: none;
  font-family: "roboto medium";
  color: #000000;
  line-height: 30px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.cart-link {
  font-family: "roboto medium";
  color: #000000;
  line-height: 30px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

/* SLIDER */

/* MAIN */

.slider {
  background-color: #eeeeee;
}

.slide-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.slide-left-content {
  width: fit-content;
  min-width: 400px;
  max-width: 400px;
  min-height: 50px;
}

.slide-title {
  font-family: "roboto medium";
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0 0 25px 0;
  color: #000000;
}

.slide-description {
  font-family: "roboto";
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 38px 0;
  color: #000000;
  max-width: 350px;
}

.slider-button {
  display: flex;
  font-family: "roboto";
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  background: var(--red-peace);
  text-transform: uppercase;
  border-radius: 3px;
  width: fit-content;
  min-width: 240px;
  min-height: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* SERVICES */

.services {
  margin-bottom: 80px;
}

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 1fr;
  column-gap: 100px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.services-item {
}

.services-item-title {
  font-family: "roboto bold";
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin: 25px 0 16px 0;
}

.services-item-description {
  font-family: "roboto";
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 0 0 32px 0;
}

.services-item-button {
  display: flex;
  font-family: "roboto medium";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  width: fit-content;
  min-width: 160px;
  min-height: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.services-item-button--red {
  background: var(--red-peace);
}

.services-item-button--green {
  background: var(--green-peace);
}

.services-item-button--yellow {
  background: var(--yellow-peace);
}

.about-and-stat {
  display: grid;
  grid-template-columns: 651px 360px;
  margin-bottom: 73px;
}

.big-line {
  width: 1158px;
  height: 2px;
  margin: 0 auto;
  background: #eeeeee;
}

/* ABOUT US */

.about-and-stat {
  justify-content: space-evenly;
  margin-top: 39px;
}

.about-us {
  min-width: 651px;
}

.about-us-big-description {
  font-family: "roboto medium";
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
  margin: 45px 0 32px 0;
}

.about-us-small-description {
  font-family: "roboto";
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 0 0 40px 0;
}

.about-us-list-title {
  font-family: "roboto bold";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #283136;
  margin: 0 0 23px 0;
}

.about-us-list {
  list-style-image: url("../img/for-list-item.svg");
}

.about-us-item {
  font-family: "roboto";
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 0 0 24px 0;
  align-content: center;
}

.about-us-item:last-child {
  margin: 0;
}

.happy-logo {
  margin: 0 0 37px 0;
}

.our-statistics-title-list {
  font-family: "roboto bold";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.flex-statistics-list {
  display: flex;
  align-items: center;
}

.our-statistics-list {
  list-style: none;
  padding: 0;
}

.our-statistics-number {
  font-family: "roboto bold";
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  margin-right: 22px;
  color: #000000;
  margin-bottom: 10px;
}

.our-statistics-num-descriptrion {
  font-family: "roboto";
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

/* CLIENTS */

.clients-list {
  list-style: none;
  display: grid;
  justify-content: center;
  padding: 0;
  grid-template-columns: 199px 209px 185px 173px;
  column-gap: 95px;
  margin: 46px 0 44px 0;
}

.clients-items {
  display: flex;
  align-items: center;
}

.client-item-html::after {
  content: url("../img/mini-vertical-border.svg");
  margin-left: 48px;
}
.client-item-borodinski::after {
  content: url("../img/mini-vertical-border.svg");
  margin-left: 44px;
}
.client-item-pink::after {
  content: url("../img/mini-vertical-border.svg");
  margin-left: 55px;
}

/* LOCATION */

.map-img {
  width: 100%;
  position: absolute;
}

.location {
  margin-top: 80px;
  min-height: 416px;
}

.contact-us-list {
  list-style: none;
  padding: 0;
  width: fit-content;
  min-width: 220px;
  margin: 0px auto auto auto;
}

.contact-us {
  padding-top: 50px;
  box-sizing: border-box;
  width: fit-content;
  min-width: 320px;
  min-height: 308px;
  position: relative;
  background: #ffffff;
}

.contact-us-title {
  font-family: "roboto bold";
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 23px 0;
}

.contact-us-location {
  font-family: "roboto";
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin: 0 0 18px 0;
}

.telephone-number {
  font-family: "roboto";
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-decoration: none;
  display: block;
  margin: 0 0 37px 0;
}

.contact-us-button {
  font-family: "roboto medium";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  background: var(--red-peace);
  display: flex;
  border-radius: 3px;
  width: fit-content;
  min-width: 220px;
  min-height: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* FOOTER */

.main-footer {
  display: flex;
  align-items: center;
  margin-top: 68px;
  margin-left: 140px;
  margin-bottom: 68px;
}

.footer-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-text {
  margin-left: 140px;
}

.footer-title {
  font-family: "roboto bold";
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
}

.footer-description {
  font-family: "roboto";
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  margin: 16px 0 0 0;
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
  width: 81px;
  height: 81px;
  margin-left: 9px;
}

.footer-item:first-child {
  margin: 0;
}

/* CATALOG.HTML */

.main-header {
  background-color: #eeeeee;
}

.main-header-title {
  font-family: "roboto medium";
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.filter-title {
  font-family: "roboto bold";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.filter-price-txt {
  font-family: "roboto";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.filter-items {
  font-family: "roboto";
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filters-button {
  font-family: "roboto medium";
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background: #eeeeee;
  border-radius: 3px;
  text-decoration: none;
}

.sorting-title {
  font-family: "roboto bold";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.sorting-list {
  list-style: none;
}

.sorting-item-active {
  font-family: "roboto";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.sorting-item {
  font-family: "roboto";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.card-title {
  font-family: "roboto bold";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.card-description {
  font-family: "roboto";
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.card-button {
  font-family: "roboto medium";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  background: var(--red-peace);
  border-radius: 3px;
}

.pages-list {
  list-style: none;
}

.pages-item-active a {
  font-family: "roboto medium";
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  background: #ffffff;
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.pages-item a {
  font-family: "roboto medium";
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  background: #eeeeee;
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.main-content {
  display: flex;
}

.sorting {
  display: flex;
}

.sorting-list {
  display: flex;
}

.pages-list {
  display: flex;
}

.cards {
  display: grid;
  grid-template-columns: 358px 358px;
  row-gap: 31px;
  column-gap: 42px;
}
