* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url("/fonts/roboto.woff");
}

:root {
    --basic-black: black;
    --basic-white: white;
    --basic-pale-white: #EEEEEE;
    --basic-dark-blue: #283136;
    --basic-light-grey: #666666;
    --basic-grey: #444444;
    --basic-red: #FB565A;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849;
    --basic-dark: #4D4D4D;

    --special-social: #E1E1E1;
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

header {
    background: var(--basic-pale-white);
}

.menu-list-items {
    line-height: 30px;  
    font-weight: 500; 
}

.slider {
    background: var(--basic-pale-white);
}

.slide_1-heading {
    font-size: 55px;
    line-height: 55px;
}

.slide_1-subtitle {
    color: var(--basic-dark-blue);
}

.slide_1-button {
    color: var(--basic-white);
    font-size: 16px;
    background: var(--basic-red);
}

.offers-item-heading {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.offers-item-subtitle {
    line-height: 24px;
    color: var(--basic-dark-blue);
}

.offers-item-button {
    color: var(--basic-white);
    font-size: 16px;
}

.offers-item-button-red {
    background: var(--basic-red);
}

.offers-item-button-green {
    background: var(--basic-green);
}

.offers-item-button-yellow {
    background: var(--basic-yellow);
}

.about-us-heading {
    font-size: 45px;
    line-height: 45px;
}

.about-us-offers {
    font-weight: bold;
}

.about-us-achiev-heading {
    font-weight: bold;
}

.about-us-achiev-item-heading {
    font-size: 45px;
    line-height: 64px;
    font-weight: bold;
}

.about-us-achiev-item-subtitle {
    color: var(--basic-dark-blue);
}

.location {
    background: var(--basic-white);
}

.location-heading {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.location {
    color: var(--basic-light-grey);
}

.location-but {
    color: var(--basic-white);
    font-size: 16px;
    background: var(--basic-red);
}

.footer-heading {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.footer-subtitle {
    line-height: 22px;
    color: var(--basic-grey);
}

.social-networks-item {
    background: var(--special-social);
}

